@import "../helpers/variables";
.home {
  .swiper-container {
    height: 80vh;

    .swiper-wrapper {

      .swiper-slide {
        position: relative;

        &:nth-child(1) {
          background: url('../img/slide1.jpg');
          background-size: cover;
          background-position: center;
        }

        #title {
          width: 60%;
          position: absolute;
          left: 0;
          top: 12%;
          height: 60%;
          background-color: $coral;
          padding-right: 20px;

          h1 {
            margin-left: 7.5vw;
            font-size: 3.8rem;
            margin-top: 20px;
          }
          p {
            margin-left: 7.5vw;
            margin-top: 45px;
          }
        }
        .cta {
          position: absolute;
          left: 7.5vw;
          bottom: 15%;
        }
      }
    }

    .swiper-pagination {
      span {
        width: 13px;
        height: 13px;
        background-color: $white;
        opacity: 0.6;

        &.swiper-pagination-bullet-active {
          background-color: $white;
          opacity: 1;
        }
      }
    }
  }

  main {

    p {
      span {
        font-weight: bold;
        font-size: 23px
      }
    }

    #femmeSkipper {

      h2 {
        position: absolute;
        left: 0;
        top: -120px;
        width: 450px;

        img {
          max-width: 100%;
          display: block;
        }
      }

      article {
        margin-top: 150px;
      }
    }
  }
}
